.p-picker-input
  position relative
  display flex
  align-items center
  padding-left 12px
  border-width 1px
  border-style solid
  border-color $grey-400
  border-radius 4px
  height 32px
  font-size 0
  cursor pointer
  transition border .3s
  &:hover
    border-color $blue-500
.p-picker-input-tip
  font-size 14px
  color $grey-400
.p-picker-input-trigger
  justify-content space-around
.p-picker-input-tip-single
  width 126px
.p-picker-input-tip-double
  display flex
  justify-content space-between
.p-picker-input-tip-to
  width 40px
  text-align center
  font-size 14px
  color $grey-500
.p-picker-svg-box
  display flex
  align-items center
  justify-content center
  width 40px
  .p-picker-clear-svg
    path
      transition fill .3s
    &:hover
      path
        fill $blue-500
.p-picker-input-values
  width 100%
  line-height 30px
  font-size 14px
  color $grey-900
.p-picker-input-single
  width 188px
  text-align left
.p-picker-input-double
  width 242px
  .p-picker-input-tip-double
    width 188px
  .p-picker-input-tip-double-values
    width 74px
    text-align center
.p-picker-input-double-time
  width 374px
  .p-picker-input-tip-double
    width 320px
  .p-picker-input-tip-double-values
    width 140px
    text-align center
.p-picker-input-double-week
  width 294px
  .p-picker-input-tip-double
    width 240px
  .p-picker-input-tip-double-values
    width 100px
    text-align center
.p-picker-input-alert
  margin-top 12px
  margin-bottom @margin-top
  border 1px solid $blue-500
  border-radius 4px
  width 294px
  height 32px
  line-height 30px
  .p-picker-input-values, .p-picker-input-tip
    width 100%
    text-align center

.p-picker-main-input
  margin-top 12px
  margin-bottom 12px
  padding-left 12px
  padding-right 12px
  border 1px solid $blue-500
  border-radius 4px
  height 32px
  line-height 30px
  .p-picker-main-values
    font-size 14px
    color $grey-400
    text-align center
  .p-picker-main-values-selected
    color $grey-900
.p-picker-main-tip-double
  display flex
  justify-content space-between
.p-picker-main-values
  text-align center
.p-picker-main-double
  width 212px
  .p-picker-main-tip-double
    width 188px
  .p-picker-main-values
    width 74px
.p-picker-main-double-time
  width 344px
  .p-picker-main-tip-double
    width 320px
  .p-picker-main-values
    width 140px
.p-picker-main-double-week
  width 294px
  .p-picker-main-tip-double
    width 270px
  .p-picker-main-values
    width 115px
