/*CSS动画*/
@keyframes bounceInUi
  from
    opacity 0
    transform scale3d(.8, .8, .8)
  to
    opacity 1
    transform scale3d(1, 1, 1)
@keyframes bounceOutUi
  from
    opacity 1
    transform scale3d(1, 1, 1)
  to
    opacity 0
    transform scale3d(.8, .8, .8)

.bounceInUiOut-enter-active
  animation bounceInUi .3s
.bounceInUiOut-leave-active
  animation bounceOutUi .3s