/*CSS动画*/
@keyframes slideInUp
  from
    transform translate3d(0, 100%, 0)
    opacity 0
  to
    transform translate3d(0, 0, 0)
    opacity 1
@keyframes slideOutUp
  from
    transform translate3d(0, 0, 0)
    opacity 1
  to
    transform translate3d(0, -100%, 0)
    opacity 0

.slideUp-enter-active
  animation slideInUp .3s ease-out
.slideUp-leave-active
  animation slideOutUp .15s ease-in