/*CSS动画*/
@keyframes selectDownUp
  from
    top 0
    opacity 0
    //transform translateY(0)
  to
    top 100%
    opacity 1
    //transform translateY(8px)

.selectDownUp-enter-active
  animation selectDownUp .3s
.selectDownUp-leave-active
  animation selectDownUp .3s reverse