/*CSS动画*/
@keyframes slideInDown
  from
    pointer-events none
    opacity 0
    transform translate3d(0, -30px, 0)
  to
    pointer-events none
    opacity 1
    transform translate3d(0, 0, 0)
//@keyframes slideOutUp
//  from
//    opacity 1
//    transform translate3d(0, 0, 0)
//  to
//    opacity 0
//    transform translate3d(0, -30px, 0)

.slideDownUp-enter-active
  animation slideInDown .3s
//.slideDownUp-leave-active
//  animation slideOutUp .3s
.slideDownUp-leave-active
  animation slideInDown .3s reverse