/*CSS重置*/
*
*::before
*::after
  -webkit-box-sizing border-box
  box-sizing border-box
  //font-size 0

@-ms-viewport
  width device-width

html
body
  width 100%
  height @width

body, h1, h2, h3, h4, h5, h6, p, pre, figure
  margin 0

ol, ul, dl
  margin 0
  padding-left 0

li
  list-style none

dd
  margin-left 0

a
  text-decoration none
  color #333

table
  border-collapse collapse

input, button, select, optgroup, textarea, legend, td
  padding: 0

fieldset
  padding 0
  margin 0
  border 0

button
  outline 0

body
  position relative
  font-family -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, "PingFang SC", "Source Han Sans SC", "Source Han Sans CN", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-seri
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
