.component
  h1
    margin-bottom 16px
    font-size 20px
  h2
    margin-top 12px
    margin-bottom 12px
    font-size 16px

.rsg--list-56
  .rsg--item-57
    .rsg--heading-59
      color #646C73
  .rsg--isChild-58
    .rsg--link-50
      color #1F2429
      &:hover
        color #0091FF
  .rsg--isSelected-60
    .rsg--link-50
      color #0091FF
